body {
  background-color: #161616;
  color: #fcfcfc;
  font-family: 'Segoe UI', 'San Francisco', 'Helvetica Neue', Roboto, Tahoma,
    Geneva, Verdana, sans-serif;
  margin: 10px;
  font-size: 16px;
  box-sizing: 'border-box';
}

body.light {
  background-color: #dcdff4;
  color: #0f1f2b;
}

.content {
  margin: 10px auto;
  max-width: 90%;
  animation: fadein 2s ease-in;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: #34a1eb;
}

p {
  font-size: 24px;
}
